<div>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-start">
      <div class="flex-2">
        <a class="btn btn-ghost text-xl">Fugito E-Commerce</a>
      </div>
    </div>

    <div class="navbar-center">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/app/products">Products</a></li>
        <li><a routerLink="/app/cart">Cart</a></li>
      </ul>
    </div>

    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <!-- Trigger -->
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            @if (!islogged()) {

            <img alt="Login Icon" src="https://img.icons8.com/material-outlined/24/user--v1.png" />

            } @else{

            <p>:)</p>

            }
          </div>
        </div>

        <!-- Menu -->
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-20 mt-3 w-52 p-2 shadow"
        >
          @if (islogged()) {
          <li><a (click)="logout()">Logout</a></li>

          }@else {
          <li><a routerLink="/auth/login">Login</a></li>
          <li><a routerLink="/auth/registration">Register</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
